src/com.kenobi.discordlauncher.sdPlugin/DiscordLauncher.exe
src/com.kenobi.discordlauncher.sdPlugin/DiscordLauncher.pdb
src/com.kenobi.discordlauncher.sdPlugin/DiscordLauncher.exe
src/com.kenobi.discordlauncher.sdPlugin/DiscordLauncher.pdb
